######################################################################
# Build Tools

dist/
/unpackage/*
/node_modules/*
/allure-results/*
/playwright-report/*
/test-results/*
######################################################################
# Development Tools

/.idea/*
/.vscode/*
/.hbuilderx/*

package-lock.json
yarn.lock

