<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhi.dao.McpToolExcludeMapper">

    <resultMap id="BaseResultMap" type="com.xiaozhi.entity.SysMcpToolExclude">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="excludeType" property="excludeType" jdbcType="VARCHAR"/>
        <result column="bindType" property="bindType" jdbcType="VARCHAR"/>
        <result column="bindCode" property="bindCode" jdbcType="VARCHAR"/>
        <result column="bindKey" property="bindKey" jdbcType="VARCHAR"/>
        <result column="excludeTools" property="excludeTools" jdbcType="LONGVARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, excludeType, bindType, bindCode, bindKey, excludeTools, createTime, updateTime
    </sql>

    <select id="query" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_mcp_tool_exclude
        <where>
            <if test="excludeType != null and excludeType != ''">
                AND excludeType = #{excludeType}
            </if>
            <if test="bindType != null and bindType != ''">
                AND bindType = #{bindType}
            </if>
            <if test="bindCode != null and bindCode != ''">
                AND bindCode = #{bindCode}
            </if>
            <if test="bindKey != null and bindKey != ''">
                AND bindKey = #{bindKey}
            </if>
        </where>
        ORDER BY createTime DESC
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_mcp_tool_exclude
        WHERE excludeType = #{excludeType}
        <if test="bindType != null">
            AND bindType = #{bindType}
        </if>
        <if test="bindCode != null">
            AND bindCode = #{bindCode}
        </if>
        <if test="bindKey != null">
            AND bindKey = #{bindKey}
        </if>
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_mcp_tool_exclude
        WHERE id = #{id}
    </select>

    <insert id="add" parameterType="com.xiaozhi.entity.SysMcpToolExclude" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_mcp_tool_exclude (
            excludeType,
            bindType,
            bindCode,
            bindKey,
            excludeTools,
            createTime,
            updateTime
        ) VALUES (
            #{excludeType,jdbcType=VARCHAR},
            #{bindType,jdbcType=VARCHAR},
            #{bindCode,jdbcType=VARCHAR},
            #{bindKey,jdbcType=VARCHAR},
            #{excludeTools,jdbcType=LONGVARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.xiaozhi.entity.SysMcpToolExclude">
        UPDATE sys_mcp_tool_exclude
        SET excludeType = #{excludeType,jdbcType=VARCHAR},
            bindType = #{bindType,jdbcType=VARCHAR},
            bindCode = #{bindCode,jdbcType=VARCHAR},
            bindKey = #{bindKey,jdbcType=VARCHAR},
            excludeTools = #{excludeTools,jdbcType=LONGVARCHAR},
            updateTime = #{updateTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM sys_mcp_tool_exclude
        WHERE id = #{id}
    </delete>

    <delete id="deleteByCondition">
        DELETE FROM sys_mcp_tool_exclude
        WHERE excludeType = #{excludeType}
        <if test="bindType != null">
            AND bindType = #{bindType}
        </if>
        <if test="bindCode != null">
            AND bindCode = #{bindCode}
        </if>
        <if test="bindKey != null">
            AND bindKey = #{bindKey}
        </if>
    </delete>

</mapper>
