<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhi.dao.RoleMapper">

    <resultMap id="BaseResultMap" type="com.xiaozhi.entity.SysRole">
        <id property="roleId" column="roleId" />
        <result property="avatar" column="avatar" />
        <result property="roleName" column="roleName" />
        <result property="roleDesc" column="roleDesc" />
        <result property="voiceName" column="voiceName" />
        <result property="modelId" column="modelId" />
        <result property="sttId" column="sttId" />
        <result property="ttsId" column="ttsId" />
        <result property="temperature" column="temperature" />
        <result property="topP" column="topP" />
        <result property="memoryType" column="memoryType" />
        <result property="vadSpeechTh" column="vadSpeechTh" />
        <result property="vadSilenceTh" column="vadSilenceTh" />
        <result property="vadEnergyTh" column="vadEnergyTh" />
        <result property="vadSilenceMs" column="vadSilenceMs" />
        <result property="userId" column="userId" />
        <result property="state" column="state" />
        <result property="isDefault" column="isDefault" />
        <result property="createTime" column="createTime" />
        <result property="totalDevice" column="totalDevice" />
        <result property="modelName" column="modelName" />
        <result property="ttsPitch" column="ttsPitch" />
        <result property="ttsSpeed" column="ttsSpeed" />
        <result property="modelProvider" column="modelProvider" />
        <result property="ttsProvider" column="ttsProvider" />
    </resultMap>

    <sql id="Role_Column_List">
        sys_role.roleId, sys_role.avatar, sys_role.roleName, sys_role.roleDesc, sys_role.voiceName,
        sys_role.ttsPitch, sys_role.ttsSpeed,
        sys_role.modelId, sys_role.sttId, sys_role.ttsId, sys_role.memoryType,
        sys_role.temperature, sys_role.topP,
        sys_role.vadSpeechTh, sys_role.vadSilenceTh, sys_role.vadEnergyTh, sys_role.vadSilenceMs,
        sys_role.userId, sys_role.state, sys_role.isDefault, sys_role.createTime
    </sql>

    <sql id="Model_Column_List">
        model_config.configName AS modelName, model_config.provider AS modelProvider
    </sql>

    <sql id="STT_Column_List">
        stt_config.configName AS sttName, stt_config.configDesc AS sttDesc
    </sql>

    <sql id="TTS_Column_List">
        tts_config.provider AS ttsProvider
    </sql>

    <select id="query" resultMap="BaseResultMap">
        SELECT
        <include refid="Role_Column_List"></include>,
        <include refid="Model_Column_List"></include>,
        <include refid="STT_Column_List"></include>,
        <include refid="TTS_Column_List"></include>,
        (SELECT COUNT(*) FROM sys_device WHERE sys_device.roleId = sys_role.roleId) AS totalDevice
        FROM
            sys_role
            LEFT JOIN sys_config tts_config ON sys_role.ttsId = tts_config.configId AND tts_config.configType = 'tts'
            LEFT JOIN sys_config model_config ON sys_role.modelId = model_config.configId AND model_config.configType = 'llm'
            LEFT JOIN sys_config stt_config ON sys_role.sttId = stt_config.configId AND stt_config.configType = 'stt'
        WHERE
            sys_role.state = 1
            <if test="userId != null and userId != ''">AND sys_role.userId = #{userId}</if>
            <if test="roleId != null and roleId != ''">AND sys_role.roleId = #{roleId}</if>
            <if test="roleName != null and roleName != ''">AND sys_role.roleName LIKE CONCAT('%', #{roleName}, '%')</if>
            <if test="isDefault != null and isDefault != ''">AND sys_role.isDefault = #{isDefault}</if>
        GROUP BY sys_role.roleId
    </select>

    <update id="update" parameterType="com.xiaozhi.entity.SysRole">
        UPDATE
            sys_role
        <set>
            avatar = #{avatar},
            <if test="roleName != null and roleName != ''">roleName = #{roleName},</if>
            <if test="roleDesc != null and roleDesc != ''">roleDesc = #{roleDesc},</if>
            <if test="voiceName != null and voiceName != ''">voiceName = #{voiceName},</if>
            <if test="isDefault != null and isDefault != ''">isDefault = #{isDefault},</if>
            <if test="modelId != null and modelId != ''">modelId = #{modelId},</if>
            <if test="ttsId != null and ttsId != ''">
                <choose>
                    <when test="ttsId == -1">ttsId = null,</when>
                    <otherwise>ttsId = #{ttsId},</otherwise>
                </choose>
            </if>
            <if test="sttId != null and sttId != ''">
                <choose>
                    <when test="sttId == -1">sttId = null,</when>
                    <otherwise>sttId = #{sttId},</otherwise>
                </choose>
            </if>
            <if test="state != null and state != ''">state = #{state},</if>
            <if test="temperature != null and temperature != ''">temperature = #{temperature},</if>
            <if test="topP != null and topP != ''">topP = #{topP},</if>
            <if test="vadEnergyTh != null and vadEnergyTh != ''">vadEnergyTh = #{vadEnergyTh},</if>
            <if test="vadSpeechTh != null and vadSpeechTh != ''">vadSpeechTh = #{vadSpeechTh},</if>
            <if test="vadSilenceTh != null and vadSilenceTh != ''">vadSilenceTh = #{vadSilenceTh},</if>
            <if test="vadSilenceMs != null and vadSilenceMs != ''">vadSilenceMs = #{vadSilenceMs},</if>
            <if test="ttsPitch != null and ttsPitch != ''">ttsPitch = #{ttsPitch},</if>
            <if test="ttsSpeed != null and ttsSpeed != ''">ttsSpeed = #{ttsSpeed},</if>
            <if test="memoryType != null and memoryType != ''">memoryType = #{memoryType}</if>
        </set>
        WHERE
            roleId = #{roleId}
    </update>

    <update id="resetDefault" parameterType="com.xiaozhi.entity.SysRole">
        UPDATE
            sys_role
        <set>
            isDefault = '0'
        </set>
        WHERE
            userId = #{userId}
    </update>

    <insert id="add" useGeneratedKeys="true" keyProperty="roleName" parameterType="com.xiaozhi.entity.SysRole">
        INSERT INTO sys_role ( avatar, roleName, roleDesc, voiceName, ttsPitch, ttsSpeed, modelId, ttsId, sttId, memoryType, temperature, topP, userId, isDefault ) VALUES (
            #{avatar},
            #{roleName},
            #{roleDesc},
            #{voiceName},
            #{ttsPitch},
            #{ttsSpeed},
            #{modelId},
            <choose>
                <when test="ttsId == -1">null</when>
                <otherwise>#{ttsId}</otherwise>
            </choose>,
            <choose>
                <when test="sttId == -1">null</when>
                <otherwise>#{sttId}</otherwise>
            </choose>,
            #{temperature},
            #{topP},
            #{userId},
            #{isDefault},
            #{memoryType}
        )
    </insert>

    <select id="selectRoleById" resultMap="BaseResultMap">
        SELECT
        <include refid="Role_Column_List"></include>
        FROM
            sys_role
        WHERE
            roleId = #{roleId}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM sys_role WHERE roleId = #{roleId}
    </delete>

</mapper>
