<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhi.dao.SummaryMapper">

    <resultMap id="SummaryResultMap" type="com.xiaozhi.entity.SysSummary">
        <result property="deviceId" column="deviceId" />
        <result property="roleId" column="roleId" />
        <result property="lastMessageTimestamp" column="lastMessageTimestamp" />
        <result property="summary" column="summary" />
        <result property="createTime" column="createTime" />
        <result property="promptTokens" column="promptTokens" />
        <result property="completionTokens" column="completionTokens" />
    </resultMap>

    <!-- 保存摘要 -->
    <insert id="saveSummary" parameterType="com.xiaozhi.entity.SysSummary">
        INSERT INTO sys_summary ( deviceId, roleId, lastMessageTimestamp, summary, promptTokens, completionTokens, createTime)
        VALUES (#{deviceId}, #{roleId}, #{lastMessageTimestamp,jdbcType=TIMESTAMP}, #{summary}, #{promptTokens}, #{completionTokens}, #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <!-- 查找最新的摘要 -->
    <select id="findLastSummary" resultMap="SummaryResultMap">
        SELECT deviceId, roleId, lastMessageTimestamp, summary, promptTokens, completionTokens, createTime
        FROM sys_summary
        WHERE
        sys_summary.deviceId = #{deviceId}
        AND sys_summary.roleId = #{roleId}
        ORDER BY sys_summary.createTime DESC
        LIMIT 1
    </select>

    <!-- 根据条件查询摘要 -->
    <select id="findSummary" resultMap="SummaryResultMap">
        SELECT deviceId, roleId, lastMessageTimestamp, summary, promptTokens, completionTokens, createTime
        FROM sys_summary
        WHERE 1=1
        <if test="deviceId != null and deviceId != ''">
            AND deviceId = #{deviceId}
        </if>
        <if test="roleId != null and roleId != -1">
            AND roleId = #{roleId}
        </if>
        ORDER BY createTime DESC
    </select>

    <!-- 根据roleId和deviceId删除摘要 -->
    <delete id="deleteSummary">
        DELETE FROM sys_summary
        WHERE roleId = #{roleId}
        AND deviceId = #{deviceId}
        <if test="createTime != null">
            AND createTime = #{createTime,jdbcType=TIMESTAMP}
        </if>
    </delete>
</mapper>
